/*PAGE STYLING AND GENERAL STYLINGS*/
.page{
	float: left;
	margin-top: 5%;
	width: 100%;
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
	text-align: center;
}

a{
	text-decoration: none;
	color: rgba(65, 64, 66, 1);
}

.input{
	font-size: 20px;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid rgba(0,0,0,.4);
	padding: 5px;
	font-family: 'Montserrat', sans-serif;
}

.input:focus{
	outline: 1px dotted rgba(0,0,0,.2);
}

/*GENERAL BUTTON STYLING*/
.button_container{
	float: left;
	width: 40%;
	margin-left: 30%;
	margin-right: 30%;
	margin-top: 5%;
}

.positive_button{
	width: 49%;
	cursor: pointer;
	border: none;
	font-size: 18px;
	padding: 12px;
	background-color: rgba(0, 180, 102, .2);
	color: rgba(0, 180, 102, 1);
	font-family: 'Montserrat', sans-serif;
}

.positive_button:hover{
	background-color: rgba(0, 180, 102, 1);
	color: rgba(250, 250, 250, 1);
}

.negative_button{
	width: 49%;
	cursor: pointer;
	border: none;
	font-size: 18px;
	padding: 12px;
	background-color: rgba(205, 85, 85, .2);
	color: rgba(205, 85, 85, 1);
	font-family: 'Montserrat', sans-serif;
}

.negative_button:hover{
	background-color: rgba(205, 85, 85, 1);
	color: rgba(250, 250, 250, 1);
}

/*DIALOGUE STYLING*/
.statement{
	padding: 10px;
}

/*QUESTION PAGE STYLING*/
.question_title{
	display: inline-block;
	margin-bottom: 10px;
	color: rgba(0, 0, 0, .4);
}

.answer{
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}

.current_question{
	color: rgba(92, 172, 238, 1);
}

.correct{
	color: rgba(0, 180, 102, 1);
}

.incorrect{
	color: rgba(205, 85, 85, 1);
}

.submit{
	margin-top: 5%;
	width: 25%;
}

/*RESULTS STYLING (ON QUESTIONS PAGE)*/
.resultsContainer{
	float: left;
	width: 80%;
	margin-left: 10%;
}

.results{
	font-size: 24px;
}

.comment{
	font-size: 20px;
}

/* RESPONSIVE STYLING */
/*PHONES*/
@media screen and (max-width: 699px) {
.page{
	font-size: 16px;
	margin-top: 8%;
}
.input{
	font-size: 16px;
}
.positive_button{
	width: 100%;
	font-size: 8px;
	padding: 10px;
	margin-bottom: 5px;
}

.negative_button{
	width: 100%;
	font-size: 8px;
	padding: 10px;
}

}

/*TABLETS*/
@media screen and (min-width: 700px) and (max-width: 899px) {
.positive_button{
	font-size: 10px;
	padding: 10px;
}

.negative_button{
	font-size: 10px;
	padding: 10px;
}

}

/*10"/12" SCREENS*/
@media screen and (min-width: 900px) and (max-width: 1200px) {
.positive_button{
	font-size: 14px;
}

.negative_button{
	font-size: 14px;
}

}