#studyGuideContainer{
	float: left;
	width: 100%;
	margin-top: 5%;
}

/*GIUDE TITLE STYLING*/
#guideTitle{
	display: inline-block;
	width: 100%;
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	font-size: 32px;
	margin-bottom: 20px;
}

#subtitle{
	float: left;
	width: 100%;
	font-size: 24px;
	margin-top: -10px;
}

/*QUESTION/ANSWER STYLING*/
.question_answer{
	float: left;
	width: 60%;
	margin-left: 20%;
	margin-bottom: 20px;
	padding: 10px;
	font-family: 'Montserrat', 'sans-serif';
	border: 1px solid rgba(0,0,0,.4);
	cursor: pointer;
}

.question{
	font-size: 24px;
	text-align: left;
	float: left;
	width: 90%;
	margin-bottom: 10px;
}

.not_quiz{
	margin-left: 10%;
}

.question_content{
	float: left;
	width: 70%;
}

.click_for_answer{
	text-align: right;
	float: left;
	width: 25%;
	font-size: 12px;
	font-weight: bold;
	color: rgba(0,0,0,.4);
}

.guide_answer{
	font-size: 18px;
	text-align: left;
	float: left;
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	color: rgba(92, 172, 238, 1);
}

.quiz_question{
	float: left;
	width: 10%;
	font-size: 16px;
	font-weight: bold;
	color: rgba(251, 219, 12, 1);
	line-height: 32px;
}

/* RESPONSIVE STYLING */
/*PHONES*/
@media screen and (max-width: 699px) {
#studyGuideContainer{
	margin-top: 10%;
}
/*GUIDE STYLING*/
#guideTitle{
	font-size: 24px;
}
#subtitle{
	font-size: 16px;
}
.question_answer{
	width: 94%;
	margin-left: 0%;
}

.question{
	font-size: 14px;
}

.question_content{
	float: left;
	width: 70%;
}

.click_for_answer{
	font-size: 6px;
}

.guide_answer{
	font-size: 12px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.quiz_question{
	font-size: 8px;
	line-height: 20px;
}
}

/*TABLETS*/
@media screen and (min-width: 700px) and (max-width: 899px) {
/*GUIDE TITLE STYLING*/
#guideTitle{
	font-size: 28px;
}
#subtitle{
	font-size: 20px;
}
.question_answer{
	width: 80%;
	margin-left: 10%;
}

.question{
	font-size: 18px;
}

.question_content{
	float: left;
	width: 70%;
}

.click_for_answer{
	font-size: 8px;
}

.guide_answer{
	font-size: 14px;
	width: 90%;
	margin-left: 5%;
	margin-right: 5%;
}

.quiz_question{
	font-size: 10px;
	line-height: 22px;
}
}