<div class="page page_one" ng-show="showPageOne == true" ng-init="showPageOne = true; showPageTwoPositive = false; showPageTwoNegative = false; showPageThreePositive = false; pageOneCountdown = false; showLine = 0; showLineTwo = 1; showLineTwoNeg = 1; showLineThree = 1;">
	<div class="statement">
		Hey,&nbsp;<input type="text" class="input" ng-model="username" placeholder="what's your name?" ng-change="pageOneCountdownSet()"/>&nbsp;!
	</div>

	<div class="statement" ng-show="showLine > 0">
		My name's Laroncio Malinalxochitl Jean-Baptiste Imaculada. But you can call me <strong>Larry</strong>.
	</div>

	<div class="statement" ng-show="showLine > 1">
		How you doin'? It's great being a llama, ain't it?
	</div>

	<div class="statement" ng-show="showLine > 2">
		Well, I love it... Anyway, I'm off topic. I don't have time for small talk!
	</div>

	<div ng-show="showLine > 3">...</div>
	<br/>
	<div ng-show="showLine > 4">...</div>
	<br/>

	<div class="statement" ng-show="showLine > 5">
		(chuckling) Small talk is a funny term though... (to himself) What would big talk be? (more chuckling)
	</div>

	<div class="statement" ng-show="showLine > 6">
		Oh yeah, anyway, I'm here because I need your help, <strong><i>{{username}}</i></strong>. Can you help me?
	</div>

	<div class="button_container" ng-show="showLine > 7">
		<input type="button" value="YEAH, SURE" class="positive_button" ng-click="showPageTwoPositive = true; showPageOne = false; pageTwoCountdownSet()"/>
		<input type="button" value="NOPE, SORRY" class="negative_button" ng-click="showPageTwoNegative = true; showPageOne = false; pageTwoNegCountdownSet()"/>
	</div>
</div>

<div class="page page_two_positive" ng-show="showPageTwoPositive == true">
	<div class="statement" ng-show="showLineTwo > 0">
		Great! Thanks a "five llamas," buddy!
	</div>
	<div ng-show="PageTwoFirstEllipsis==true">...</div>
	<div class="statement" ng-show="showLineTwo > 1">
		You're not laughing.
	</div>
	<div class="statement" ng-show="showLineTwo > 2">
		Do you get it? Five llamas? 'Cause we each weigh like 180 kilos and one ton is around 900 kilos.
	</div>
	<div class="statement" ng-show="showLineTwo > 3">
		So like, thanks a "ton"!
	</div>
	<div ng-show="showLineTwo > 4">...</div>
	<div class="statement" ng-show="showLineTwo > 5">
		(snickering to himself) Well, I thought it was funny.
	</div>
	<div class="statement" ng-show="showLineTwo > 6">
		Anyway, yeah, I need some help with some basic llama trivia. You got a second to answer a few questions for me, <strong><i>{{username}}</i></strong>?
	</div>

	<div class="button_container" ng-show="showLineTwo > 7">
		<input type="button" value="EH, WHY NOT" class="positive_button" ng-click="showPageThreePositive = true; showPageTwoPositive=false; pageThreeCountdownSet()"/>
		<!--SHOW A LINE OF TEXT "YOU JUST NEED TO STUDY AND COME BACK. THEN YOU'LL BE ABLE TO HELP ME." -> DELAYED REDIRECT TO STUDY GUIDE PAGE-->
		<input type="button" value="NO, ARE YOU KIDDING?" class="negative_button" ng-click="timeToStudy();"/>
	</div>
</div>

<div class="page page_two_negative" ng-show="showPageTwoNegative == true">
	<div class="statement" ng-show="showLineTwoNeg > 0">
		Ah, Playing hard to get, I see.
	</div>
	<div ng-show="showLineTwoNeg > 1">...</div>
	<div class="statement" ng-show="showLineTwoNeg > 2">
		Come on, just answer these questions real quick for me. Let's be real, <strong><i>{{username}}</i></strong>, you have nothing better to do.
	</div>
	<div ng-show="showLineTwoNeg > 3">...</div>
	<div class="statement" ng-show="showLineTwoNeg > 4">
		Unless, that is, you're scared that you won't be able to answer the questions?
	</div>
	<div class="statement" ng-show="showLineTwoNeg > 5">
		Then maybe you should go study and come back when you can handle it.
	</div>

	<div class="button_container" ng-show="showLineTwoNeg > 6">
		<input type="button" value="HMPH, FINE" class="positive_button" ng-click="showPageThreePositive = true; showPageTwoNegative=false; pageThreeCountdownSet()"/>
		<input type="button" value="I'LL BE BACK, JUST YOU WAIT" class="negative_button" ng-click="timeToStudy();"/>
	</div>
</div>

<div class="page page_three_positive" ng-show="showPageThreePositive == true">
	<div class="statement" ng-show="showLineThree > 0">
		Alright here we go, let's see how much you know!
	</div>
	<br/>
	<form ng-submit="checkAnswers();">
		<div id="questionOne" ng-show="showLineThree > 1">
			<span class="question_title" ng-class="{current_question: questionUnoActive, correct: questionOneCorrect, incorrect:questionOneCorrect==false}">
				So, are these things on my feet technically "hooves"?
			</span>
			<div id="questionOneAnswer">
				<input type="text" class="input answer" placeholder="Y or N" ng-model="questionOneAnswer" ng-focus="questionUnoActive = true; questionDosActive = false; questionTresActive = false; questionQuattroActive = false" ng-blur="questionUnoActive=false"/>
			</div>
		</div>
		<div id="questionTwo" ng-show="showLineThree > 1">
			<span class="question_title" ng-class="{current_question: questionDosActive, correct: questionTwoCorrect, incorrect: questionTwoCorrect==false}">
				And can I eat meat? Or do we not do that?
			</span>
			<div id="questionTwoAnswer">
				<input type="text" class="input answer" placeholder="Y or N" ng-model="questionTwoAnswer" ng-focus="questionDosActive = true; questionUnoActive = false; questionTresActive = false; questionQuattroActive = false" ng-blur="questionDosActive=false"/>
			</div>
		</div>
		<div id="questionThree" ng-show="showLineThree > 1">
			<span class="question_title" ng-class="{current_question: questionTresActive, correct: questionThreeCorrect, incorrect: questionThreeCorrect==false}">
				Oh, and are we generally intelligent animals? ‘Cause everyone keeps telling me I should know this stuff, but I mean, I could use some help.
			</span>
			<div id="questionThreeAnswer">
				<input type="text" class="input answer" placeholder="Y or N" ng-model="questionThreeAnswer" ng-focus="questionTresActive = true; questionUnoActive = false; questionDosActive = false; questionQuattroActive = false" ng-blur="questionTresActive=false"/>
			</div>
		</div>
		<div id="questionFour" ng-show="showLineThree > 1">
			<span class="question_title" ng-class="{current_question: questionQuattroActive, correct: questionFourCorrect, incorrect: questionFourCorrect==false}">
				And finally, are we llamas the same as alpacas? ‘Cause to be honest, alpacas are lame and we better not be just as lame as they are.
			</span>
			<div id="questionFourAnswer">
				<input type="text" class="input answer" placeholder="Y or N" ng-model="questionFourAnswer" ng-focus="questionQuattroActive = true; questionUnoActive = false; questionDosActive = false; questionTresActive = false" ng-blur="questionQuattroActive=false"/>
			</div>
		</div>
		<input type="submit" value="HOW DID I DO?" class="positive_button submit" ng-show="showLineThree > 1" ng-click="showResults = true"/>
	</form>
	<br/>
	<br/>
	<div class="resultsContainer" ng-show="showResults == true">
		<div class="results">
			You got {{totalCorrect}}/4 correct!
		</div>
		<br/>
		<div class="comment" ng-show="totalCorrect==0 || totalCorrect==1">
			Ah, come on! You can do better than that. Maybe you should hit the study guide and come back when you can actually help me.
		</div>
		<div class="comment" ng-show="totalCorrect==2 || totalCorrect==3">
			Alright, not bad. You're actually pretty helpful. But it'd be great if you could get all of 'em right next time.
		</div>
		<div class="comment" ng-show="totalCorrect == 4">
			Wow, I'm impressed. You're a true llama, congrats and thanks for the help!
		</div>
	</div>
</div>

